{%load static%}

<body>

<div id="navbar" class="navbar-top-wrapper">
    <p class="nav-title-col">Movies</p>
    <div class="dropdown dropbtn drop-genres">
  <button class="box">Genres</button>
  <div class="dropdown-content">
    <table>
    <tr>
    <td>
        <ul class="link-format">
            <li><a href="/movie/action/">Action</a></li>
           <li><a href="/movie/adventure/">Adventure</a></li>
           <li><a href="/movie/comedy/">Comedy</a></li>
           <li><a href="/movie/animation/">Animation</a></li>


        </ul>
    </td>
    <td>
        <ul class="link-format">
            <li><a href="/movie/crime/">Crime</a></li>
           <li><a href="/movie/dramas/">Dramas</a></li>
           <li><a href="/movie/family/">Family</a></li>
           <li><a href="/movie/fantasy/">Fantasy</a></li>

        </ul>
    </td>
        <td>
        <ul class="link-format">
            <li><a href="/movie/sports/">Sports</a></li>
           <li><a href="/movie/thriller/">Thriller</a></li>
             <li><a href="/movie/sci-fi/">Sci-Fi</a></li>
           <li><a href="/movie/biographical/">Biography</a></li>
        </ul>
    </td>
    </tr>
    </table>

    </div>

</div>


    </div>


  </div>

</div>



</body>
