{%extends 'base.html'%}
{% load static%}

{% block content %}





<body  >
		<div id="site-content" >
			<main class="main-content" >
				<div class="container" >
					<div class="page">
						<ul class="breadcrumb">
                          <li><a href="/">Home</a></li>
                          <li>Contact</li>
                        </ul>

                        <div class="content" style="margin-top:50px;margin-bottom:280px">
                            <h2>So...who are we?</h2>
                            <h3>  The Watcher is a review site that wants to be on the thin line between subjectivism, in order to give the real opinion of a person with a passion for good movies and objectivism, so that the reviews are suitable for all tastes.</h3>
                            <h3>In other words, we are people trying to turn their passion of watching movies into something useful for others, so.. long story short, we all want the same thing ... to enjoy a good movie.</h3>
                            <h3>P.S. it shouldn't take you longer to read the review than to watch the movie, so we'll keep it short for you.</h3>








						</div>
					</div>


			</main>

		</div>
		<!-- Default snippet for navigation -->

	</body>




{% endblock %}
