{%extends 'base.html'%}
{% load static%}
{% block content %}





<body  >
		<div id="site-content" >
			<main class="main-content" >
				<div class="container" >
					<div class="page">
						<ul class="breadcrumb">
                          <li><a href="/">Home</a></li>
                          <li>Contact</li>
                        </ul>

                        <div class="content" style="margin-top:50px;margin-bottom:280px">
                            <h3>Do you want to get in touch?</h3>
                            <p>For the moment you can find us for questions and any other information by sending an email at:</p>
                            <h3>thewathcer.reviews@gmail.com</h3>

                        </div>






						</div>
					</div>







			</main>

		</div>
		<!-- Default snippet for navigation -->


	</body>




{% endblock %}

